PORT=
MONGO_URL=
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_EXPIRE=

JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_EXPIRE=

SHOULD_INIT=
INIT_PASSWORD=

# config email
EMAIL_HOST=
EMAIL_AUTH_USER=
EMAIL_AUTH_PASS=
EMAIL_PREVIEW=